

<%= error_messages_for :person %>

<% form_for(@person, :html => { :multipart => true }) do |f| %>

  <fieldset id="personal">
    <legend>Personal Details</legend>
    <p>
      <label for="person_first_name">First Name</label><br />
      <%= f.text_field :first_name %>
    </p>

    <p>
      <label for="person_last_name">Last Name</label><br />
      <%= f.text_field :last_name %>
    </p>

    <p>
      <label for="person_telephone">Telephone</label><br />
      <%= f.text_field :telephone %>
    </p>

    <p>
      <label for="person_email">Email</label><br />
      <%= f.text_field :email %>
    </p>
  
    <p>
      <label for="person_photo">Photo</label><br />
      <!-- <%= f.text_field :photo %> -->
      <%= file_column_field "person", "photo" %>
    </p>

    <p>
      <label for="person_role">Role</label><br />
      <!-- <%= f.text_field :role %> -->
      <%= select("person","role",["Vendor", "Client"]) %>
    </p>
  </fieldset>


  <fieldset id="addr">
    <legend>Address</legend>
    <p>
      <label for="person_addr_addr">Address</label><br />
      <%= f.text_field :addr_addr %>
    </p>

    <p>
      <label for="person_addr_extended">Address [Extended]</label><br />
      <%= f.text_field :addr_extended %>
    </p>

    <p>
      <label for="person_addr_street">Street</label><br />
      <%= f.text_field :addr_street %>
    </p>

    <p>
      <label for="person_addr_city">City</label><br />
      <%= f.text_field :addr_city %>
    </p>

    <p>
      <label for="person_addr_region">Region/Province</label><br />
      <%= f.text_field :addr_region %>
    </p>

    <p>
      <label for="person_addr_country">Country</label><br />
       <!-- <%= f.text_field :addr_country %>  -->
      <%= f.country_select :addr_country %>
    </p>
  </fieldset>

  <p class="form_actions">
    <%= link_to 'Back', people_path, :class => "negative" %>
    <%= f.submit "Create", :class => "positive" %>
  </p>
<% end %>

