<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @person.telephone %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Addr addr:</b>
  <%=h @person.addr_addr %>
</p>

<p>
  <b>Addr extended:</b>
  <%=h @person.addr_extended %>
</p>

<p>
  <b>Addr street:</b>
  <%=h @person.addr_street %>
</p>

<p>
  <b>Addr city:</b>
  <%=h @person.addr_city %>
</p>

<p>
  <b>Addr region:</b>
  <%=h @person.addr_region %>
</p>

<p>
  <b>Addr country:</b>
  <%=h @person.addr_country %>
</p>

<p>
  <b>Photo:</b>
  <%=h @person.photo %>
</p>

<p>
  <b>Role:</b>
  <%=h @person.role %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
