<% div_for(@person, :class => "vcard") do %>
  <span class="fn"><%= @person.first_name + " " + @person.last_name %></span>
  <div class="adr">
    <div class="street-address">
      <%= @person.addr_addr %><br />
      <%= @person.addr_extended %><br />
      <%= @person.addr_street%><br />
    </div>
    <span class="locality"><%= @person.addr_city %></span>,  
    <span class="region"><%= @person.addr_region %></span>
    <div class="country-name"><%= @person.addr_country %></div>
  </div>
  <div class="tel">
    <span class="type">Home</span> <%= @person.telephone %>
  </div>
  <div>
    Email: <span class="email"><%= mail_to @person.email %></span>
  </div>
<% end %>


<br />

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
