<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @pagetitle %></title>
  <%= stylesheet_link_tag 'master' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'people' %>
  
</head>
<body>

<div id="container">
  <h1> <%= @pagetitle %></h1>
  <% if flash[:notice] %>
    <p class="notice-flash"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error-flash"><%= flash[:error] %></p>
  <% end %>
  <%= yield  %>
</div>

</body>
</html>
